:root {
    --accent-color: #fd9222;
    --main-text-color: #111;
    --secondary-text-color: #fff;  
}
.container {
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA 
    
}

.link {
    text-decoration: none;
} 

.list {
list-style-type: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.section-title {
    font-weight: 600;
font-size: 24px;
line-height: 1.16667;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: var(--main-text-color);
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
/*---------HEADER------*/

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}
.header-logo {
font-weight: 700;
font-size: 18px;
line-height: 1.11111;
letter-spacing: -0.03em;
color: var(--main-text-color);
display: flex;
align-items: center;
}

.header-logo-accent {
    font-style: italic;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 90px;
}
.header-socials-link:focus {
    fill: var(--accent-color);
}

.header-socials-icones:hover {
    fill: var(--accent-color);  
}
 
.header-menu {
    display: flex;
    gap: 24px;
   }
.header-socials {
    display: flex;
    gap: 18px;
}   
.header-socials-item {
    height: 24px;
}
.header-socials-icones {
    transition: fill 300ms ease;
}
.current {
    position: relative;
}
.current::after {
    position: absolute;
    content: '';
    bottom: -33px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    }
.header-menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14286;
letter-spacing: -0.02em;
color: var(--main-text-color);
transition: color 300ms ease;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--accent-color);
}

 /*---------HERO------*/
 .hero {
    padding-bottom: 79px;
}

.hero-container {
    background-color: #48433c;
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
    background-image: url(../images/chocolate-hero.jpg), linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4));
}
.hero-title {
    font-weight: 500;
font-size: 28px;
line-height: 1.21429;
letter-spacing: -0.03em;
color: var(--secondary-text-color);
max-width: 484px;
margin-bottom: 32px;
}

.hero-btn {
    border: 1px solid var(--secondary-text-color);
border-radius: 100px;
padding: 14px 40px;
width: 183px;
height: 45px;
font-family: inherit;
background-color: var(--accent-color);
cursor: pointer;
padding: 14px 40px;
border-radius: 100px;
border: none;
margin-right: 18px;
}
.hero-link {
border-radius: 100px;
padding: 14px 40px;
font-size: 14px;
font-weight: 600px;
border-radius: 100px;
border: 1px solid #fff;
color: var(--secondary-text-color);
}
.hero-down {
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.03em;
color: var(--secondary-text-color);
display: block;
margin-left: auto;
}
.hero-button {
    display: flex;
    align-items: center;
}

/*---------ADVANTEGES------*/
.advanteges {
    background-color:#1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}
.advanteges-list {
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    gap: 70px;
}
.advanteges-item {
    width: calc((100% - 70px * 2) / 3);
    position: relative;
}
.advanteges-item::after {
    content: '';
    height: 124px;
    right: -44px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
}
.advanteges-item:last-child::after {
  display: none;
}
.advanteges-block {
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 365px;
margin-bottom: 19px;
display: flex;
align-items: center;
justify-content: center;
}
.advanteges-socials-icones {
    fill: var(--accent-color);
}
.advanteges-subtitle {
    font-weight: 600;
font-size: 18px;
color: var(--secondary-text-color);
margin-bottom: 18px;
}
.advanteges-item-text {
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
}

/*---------TASTE------*/
.taste {
    padding-top: 93px;
}
.test-title {
 max-width: 411px;
 margin: auto;
 margin-bottom: 28px;
}
.test-title span {
     color: var(--accent-color);
    } 
.test-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-align: center;
color: var(--main-text-color);
max-width: 486px;
margin: 0 auto;
margin-bottom: 50px;

}
.taste-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
color: #111;
border-radius: 15px;
height: 100%;
background-color: var(--accent-color);
padding: 30px;
transform: translateY(100%);
transition: transform 300ms ease;
}
.taste-item:hover .taste-cover-text {
    transform: translateY(0)
}
.taste-list {
    display: flex;
    gap: 36px;
}

.taste-item {
    width: calc((100% - 57) / 4);
    border: 1px solid #fd9222;
    border-radius: 15px;
    padding: 28px;
    width: 262px;
    height: 270px;
background-color: var(--secondary-text-color);
position: relative;
overflow: hidden;
}
.taste-img {
    margin-bottom: 36px;
}
.taste-subtitle {
    font-weight: 600;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--main-text-color);
}
.taste-subtitle.light {
    color:var(--secondary-text-color);
}
.taste-subtitle.dark {
    color: black;
}


/*---------MADE------*/
.made {
    padding-top: 100px;
}
.made-title {
    margin-bottom: 50px;
   
}
.made-title span {
    color: var(--accent-color);
}
.made-head {
    font-weight: 600;
font-size: 18px;
line-height: 1.33333;
color: var(--main-text-color);
max-width: 350px;
margin-bottom: 28px;
}
.made-wrap {
    display: flex;
    justify-content: space-between;
}
.made-container {
    background-color: var(--secondary-text-color);
    padding: 32px;
    border-radius: 15px;
    width: 516px;
}
.made-list {
        width: 360px;
        height: 200px;
}
.made-item {
 
    padding-left: 16px;
    position: relative;
    }
.made-item::before {
  content: '';
  width: 8px;
  height: 8px;
  left: 0;
  top: 5px;
  position: absolute;
  border-radius: 100%;
background-color: #4c4c4c;
border: 2px solid color #111;
}    
.made-item:not(:last-child) {
    margin-bottom: 24px;
}
.made-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: var(--main-text-color);
}

/*---------LOVED------*/
.loved {
    padding: 100px;
    padding-bottom: 100px;
}

.loved-title {
    margin-bottom: 119px;
}
.loved-title span {
 color: var(--accent-color);
}
.loved-list {
    display: flex;
    gap: 28px;
    margin-bottom: 49px;
}
    
.loved-item {
    width: 425px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: calc((100% - 56px)) / 3;
    padding: 56px 24px 24px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    position: relative;   
    background: #fff;
}
.loved-subtitle {
    font-weight: 600;
font-size: 18px;
line-height: 1.33333;
text-align: center;
color: var(--main-text-color);
margin-bottom: 24px;
}
.loved-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-align: center;
color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
    font-weight: 600;
font-size: 18px;
color: var(--main-text-color);
font-family: inherit;
padding: 14px 40px;
border: 1px solid #fd9222;
border-radius: 100px;
display: block;
margin: 0 auto;
background-color: transparent;
}
.loved-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------FOOTER------*/
.footer {
    background:#1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-main-text {
    font-weight: 500;
font-size: 28px;
line-height: 1.21429;
letter-spacing: -0.02em;
color:var(--secondary-text-color);

max-width: 300px;
text-align: left;
}
.footer-main-text span {
    color: var(--accent-color);
}

.footer-adress-main {
    font-weight: 500;
font-size: 14px;
line-height: 1.28571;
text-align: center;
color: var(--secondary-text-color);
margin-bottom: 14px;
}
.footer-adress {
    font-style: normal;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}    
.footer-adress-item:not(:last-child) {
    margin-bottom: 4px;
}
.footer-adress-link {
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-align: center;
color: var(--secondary-text-color);
}

.footer-navigation {
    display: flex;
  gap: 24px;
}
.footer-menu {
    display: flex;
    gap: 24px;
}

.footer-menu-link {
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-align: center;
color: #fff;
}

/*---------MODAL------*/
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 300ms linear, visibility 300ms linear;
}
.modal {
    width: 517px;
    min-height: 794px;
    border-radius: 15px;
    background: #fafafa;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 300ms linear;
    padding: 40px;
}
.modal-title {
font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111;
max-width: 300px;
margin-bottom: 42px;
}
.modal-input {
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    width: 100%;
    height: 68px;    
    padding: 0 10px 0 62px;
    background-color: transparent;
    outline: transparent;

}
.modal-input:focus {
    border-color: var(--accent-color);
    }
.modal-input:focus+ .modal-input-icon {
    fill: var(--accent-color);
}
.modal-input::placeholder,
.modal-textarea::placeholder {
    color: brown;
    font-size: 18px;
    letter-spacing: -0.02em;
    
}
.modal-input:focus::placeholder {
    opacity: 0;
}
.modal-input:required {
    border-color: blue;
}
.modal-title span {
    color: var(--accent-color);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn {
    border: none;
    background: transparent;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
.is-hidden {
    opacity: 0;
visibility: hidden;
pointer-events: none;
}
.modal-form-btn:disabled {
    background-color: #1e1823;
    color: #fd9222;
}
.input-label
.input-label-text {
font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.3);
display: inline-block;
margin-bottom: 18px;

}

.modal-input-icon {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.input-wrap {
    position: relative;
}
.modal-textarea {
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    width: 100%;
    height: 137px;    
    padding: 22px 24px;
    background-color: transparent;
    outline: transparent;
    resize: vertical;
}
.check-text {
 font-size: 14px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.6);
display: flex;
align-items: center;
}
.check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
border: 1px solid rgba(17, 17, 17, 0.14);
margin-right: 12px;
fill: transparent;
}
.check-icon {
    
}
.privacy-link {
    color: var(--accent-color);
}
.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  fill: #FAFAFA;
}